{% extends "ConfInptBundle::conff.html.twig" %}


{% block menu %}
  
  
  <h2 class="star"><span></span> Menu</h2>
          <div class="clr"></div>
          <ul class="nav nav-pills nav-stacked">
             <li  class="active" ><a href="./administration">Profil</a></li>
			      <li ><a href="./adsalon">Salon</a></li> 
             <li><a href="./adconfcours">conferences en cours</a></li>
             <li><a href="./adconfhisto">historique des conférences </a></li>
             </ul>
  
  
{% endblock %}


{% block body %}




    <div class="tabbable"> <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">profile</a></li>
    
    <li><a href="#tab2" data-toggle="tab">modifier profile </a></li>
    </ul>
           <div class="tab-content"> 
                   <div class="tab-pane active" id="tab1">
              


                  <div class="panel panel-primary">
                  <div class="panel-heading">
                  <h3 class="panel-title"> Nom </h3>
                  </div>
                   <div class="panel-footer" id="idnom" >   <h2> Maghzaz </h2> </div>
                   </div> 




<div class="panel panel-primary">
  <div class="panel-heading">
   <h3 class="panel-title"> prenom </h3>
  </div>
  <div class="panel-footer"> <h2>Youssef</h2> </div>
</div> 




<div class="panel panel-primary">
  <div class="panel-heading">
   <h3 class="panel-title"> Nom d'utilisateur </h3>
  </div>
  <div class="panel-footer" id="idusername"><h2> ymaghzaz </h2></div>
</div> 


 <div class="panel panel-primary">
  <div class="panel-heading">
   <h3 class="panel-title"> status </h3>
  </div>
  <div class="panel-footer" id="idstatus" ><h2> administration </h2></div>
</div> 

 <div class="panel panel-primary">
  <div class="panel-heading">
   <h3 class="panel-title">  Adress E-mail  </h3>
  </div>
  <div class="panel-footer" id="idemail" ><h2> youssefmaghzaz@gmail.com </h2></div>
</div> 





                   </div>


                   <div class="tab-pane" id="tab2" >

<br>
<br>
 

 
       <div class="alert alert-info"> <h3>modefier Password </h3></div>
      
         <form class="navbar-form navbar-left" role="motdepass">
                       <div class="form-group">
                       <input type="text" class="form-control" placeholder="anciens mot de passe">
                       <input type="text" class="form-control" placeholder="nouveau mot de passe">
                        
                          <input type="text" class="form-control" placeholder="verifier mot de passe">
                         </div>
                       <button type="submit" class="btn btn-default">Submit</button>
                       </form>  
             <br>
             <br>
               <br>
             <br>
               <br>
             <br>
       <div class="alert alert-info"><h3>modefier email</h3> </div>

                  <form class="navbar-form navbar-left" role="changeemail">
                       <div class="form-group">
                       <input type="text" class="form-control" placeholder="anciens email">
                       <input type="text" class="form-control" placeholder="nouveau email">
                        
                          <input type="text" class="form-control" placeholder="verifier amail">
                         </div>
                       <button type="submit" class="btn btn-default">Submit</button>
                       </form>  

                      
                  </div>


            </div>
    </div>


{% endblock %}
