{% extends "ConfInptBundle::conff.html.twig" %}


{% block menu %}
  
  
  <h2 class="star"><span></span> Menu</h2>
          <div class="clr"></div>
          <ul class="sb_menu">
            <li><a href="#">Profil</a></li>
			 <li><a href="#">creer reunion speciale soutenance</a></li>
			 <li><a href="#">inviter des personnes</a></li>
            <li><a href="#">gerer confidentialités des réunions enrégistrées</a></li>
			
            <li><a href="#">conferences en cours</a></li>
           
            <li><a href="#">historique des conférences </a></li>
            
          </ul>
  
  
{% endblock %}