{% extends "ConfInptBundle::conff.html.twig" %}


{% block menu %}
  
  
  <h2 class="star"><span></span> Menu</h2>
          <div class="clr"></div>
          <ul class="nav nav-pills nav-stacked">
             <li   ><a href="./administration">Profil</a></li>
			      <li class="active"  ><a href="./adsalon">Salon</a></li> 
             <li><a href="./adconfcours">conferences en cours</a></li>
             <li><a href="./adconfhisto">historique des conférences </a></li>
             </ul>
  
  
{% endblock %}


{% block body %}

<style type="text/css">
    /* fix the size of the pager */
    input.ui-pg-input { width: auto; }
</style>



   dfgdfgdfgdf
<table id="list" class="scroll"></table> 
<div id="pager" class="scroll" style="text-align:center;"></div> 


{% endblock %}
