{% extends "ConfInptBundle::conff.html.twig" %}


{% block menu %}
  
  
  <h2 class="star"><span></span> Menu</h2>
          <div class="clr"></div>
          <ul class="nav nav-pills nav-stacked">
            <li  ><a href="./etudiant">Profil</a></li>
            <li><a href="./etudiantconfcours">conferences en cours</a></li>
            <li  ><a href="./etudiantconfregisted">conferences enregistrées accessibles</a></li>
            <li class="active"  ><a href="./etudiantconfaccess">conferences accessibles</a></li>
            <li><a href="./etudianthistorique">historique des conférences assistées</a></li>
            
          </ul>
  
  




{% endblock %}

{% block body %}

conferences accessibles


{% endblock %}
