{% extends "ConfInptBundle::conff.html.twig" %}


{% block menu %}
  
  
  <h2 class="star"><span></span> Menu</h2>
          <div class="clr"></div>
          <ul class="nav nav-pills nav-stacked" >
             <li  ><a href="./globaladmin">Profil</a></li>
			       <li  class="active" ><a href="./globalsalon">salon</a></li>
			       <li><a href="./globalgestionuser">gestion des utilisateurs</a></li>
             <li><a href="./globalfestionreunion">gerer les réunions</a></li>
			       <li><a href="./gloablastatistique">surveillance des statistiques</a></li>
             <li><a href="./globaleconf">conferences en cours</a></li>
             <li><a href="./globalehisto">historique des conférences </a></li>
          </ul>
  
  
{% endblock %}

{% block body %}
salon

{% endblock %}
