{% extends "ConfInptBundle::conff.html.twig" %}


{% block menu %}
  
  
  <h2 class="star"><span></span> Menu</h2>
          <div class="clr"></div>
          <ul class="sb_menu">
            <li><a href="#">Profil</a></li>
			 <li><a href="#">Salon</a></li>
			 <li><a href="#">créer réunion enrégistrées</a></li>
            <li><a href="#">inviter des étudiants</a></li>
			
            <li><a href="#">conferences en cours</a></li>
            <li><a href="#">conferences enregistrées accessibles</a></li>
            <li><a href="#">conferences accessibles</a></li>
            <li><a href="#">historique des conférences assistées</a></li>
            
          </ul>
  
  
{% endblock %}